#ima2 {width: 40%;
}
#ima2 {margin-left: 25%;
}
#ima2 {border-color: brown;
       border-width: 20px;
       border-style: double;
}
.parte01 {background-color: coral;
}
.parte02{background-color: red;
}
h4{text-align: center;
    font-size: 200%;
}